html, body {
  height: 93%;
  color: #61DAFB;
  background-image: url("assorted.jpg"); 
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center;

}

p {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 50px;
text-align: center;
}
img { 
  border-radius: 50%;
}
#gallery {
align-content: center;
}


.cont {
  width: 520px;
  margin-bottom: 50px;
   }

h1 {
  margin: 20px 0 15px 0; 
  text-align: center; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

ul>li:hover {
  background-color: #F5F5F5;
}

.form-inline .form-control {
  width: 60%;
 margin: 0.1em;
 margin-left: 0em;
 
  
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #61DAFB;
}

.icon {
  
  margin: 6px 10px 6px 0;
}
nav {
  font-size: 25px;
  text-align: center;
  margin: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
